<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit file</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
{% with messages = get_flashed_messages() %}
    <div class="container">
    <form action="{{ url_for('edit') }}" method="post">
    <div class="form-group mb-2">
        <label for="titleinput">Title</label>
        <input class="form-control" type="text" name="title" id="titleinput" value={{ messages[0] }}>
    </div>

    <div class="form-group mb-2">
        <label for="artistinput">Artist</label>
        <input class="form-control" type="text" name="artist" id="artistinput" value={{ messages[1] }}>
    </div>
    <div class="form-group mb-2">
        <label for="albuminput">Album</label>
        <input class="form-control" type="text" name="album" id="albuminput" value={{ messages[2] }}>
    </div>
{% endwith %}
<a href='/edit'> <input type="submit" name="submit" value="Save" class="btn btn-primary mb-2"></a>
</form>
</div>
</body>
</html>